@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--inline CSS-->
<style>
    textarea {
        resize: none;
    }

    #margin-top {
        margin-top: 10px;
    }
</style>

<!--on the case of Modal close-->
<script>
    $(document).ready(function () {
        $('#aboutMeModal').on('hidden.bs.modal', function () {
            $("#imageId").replaceWith($("#imageId").val('').clone(true));
            $('#imageView').attr('src', "#").width(80).height(80);
            $('#introductionId').val("");
            $('#imageError').text("");
            $('#introductionError').text("");
            checkImage = 0;
        });

        $("#introductionId").on('input', function () {
            $('#introductionError').text("");
        });

        $.ajax({
            url: '/AboutMe/RemoveFiles',
            success: function () {
            },
            error: function () {
                alert("error");
            }
        });

    });
</script>

<button type="button" class="btn btn-info" onclick="addAboutMe();" style="margin-left:5px; ">Add</button>

<!-- Modal -->
<div class="modal fade" id="aboutMeModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Add Introduction</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <img id="imageView" src="#" />
                    </div>
                    <div class="col-md-10">
                        <input type="file" id="imageId" onchange='UploadTempImage(this)' />
                        <span class="text-danger" id="imageError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Introduction")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="introductionId" class="form-control"></textarea>
                        <span class="text-danger" id="introductionError"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveBtnId" onclick="saveAboutMe();">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- Modal content-->

    </div>
</div>
<!--Modal-->

    <div>
        <table id="about_me" class="display">
            <thead>
                <tr>
                    <th>Introduction</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>


    <script>
    var dataSource = [];
    var extensionName = [];
    var checkImage = 0;

    jQuery(function ($) {
        $.ajax({
            type: 'get',
            url: '/api/Profile/About_Me',
            success: function (response) {
                dataSource = response;
                $('#about_me').DataTable({
                    "ajax": {
                        "url": "/api/Profile/About_Me",
                        "dataSrc": ""

                    },
                    "columns": [

                        { "data": "introduction" },
                        {
                             "data": "image",
                             "render": function (data, type, row, meta) {
                                 return '<img src="../Images/AboutMeImages/' + row.image + '?' + new Date().getTime() + '" width = "100" height = "100">'
                             }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                                if (row.status == 0) {
                                    return '<button class="btn btn-success" onclick="activeAboutMe(' + row.id + ')">Activate</button>'
                                }
                                else {
                                    return '<b class="text-success">Active<b>';
                                }
                            }
                        },
                        {
                            "data": "null",
                            "render": function (data, type, row, meta) {
                                return '<button class="btn btn-primary" onclick="editAboutMe(' + row.id + ')">Edit</button><button class="btn btn-danger"onclick="deleteAboutMe(' + row.id + ')">Delete</button>'
                            }
                        }
                    ]
                });
            },
            error: function (response) {
            }
        });
    });

    function saveAboutMe() {
        var extension = extensionName[0];
        var introduction = $('#introductionId').val();

        var result = checkValues(introduction);
        if (result == "fail" || checkImage == 0) {
            return false;
        }

        var values = {
            Image: extension,
            Introduction: introduction,
        };

        $.ajax({
            url: '/AboutMe/InsertAboutMe',
            type: 'post',
            data: { aboutMeModel: values },
            success: function (response) {
                if (response == "success") {
                    $.ajax({
                        type: 'get',
                        url: '/api/Profile/about_me',
                        success: function (response) {
                            dataSource = response;
                            toastr.success("successfully added");
                            $('#about_me').DataTable().ajax.reload();
                            $('#aboutMeModal').modal('toggle');
                        }
                    });
                }
                else {

                }
            },
            error: function (response) {

            }

        });
    }

    function saveEditAboutMe(id) {
        var datas = $.grep(dataSource, function (e) {
            return e.id == id;
        });

        var introduction = $("#introductionId").val();

        if (introduction == datas[0].introduction && checkImage == 2) {
            $('#aboutMeModal').modal('toggle');
            return false;
        }

        var result = checkValues(introduction);
        if (result == "fail" || checkImage == 0) {
            return false;
        }

        var check = "1";
        if (checkImage == 1) {
            check = "2";
        }

        var values = {
            Id: id,
            Image: check,
            Introduction: introduction
        };
        $.ajax({
            type: 'put',
            url: '/AboutMe/UpdateAboutMe',
            data: { aboutMeModel: values },
            success: function (response) {
                if (response == "success") {
                    $.ajax({
                        type: 'get',
                        url: '/api/Profile/About_Me',
                        success: function (response) {
                            dataSource = response;
                            toastr.success("successfully updated");
                            $('#about_me').DataTable().ajax.reload();
                            $('#aboutMeModal').modal('toggle');
                        }
                    });
                }
            },
            error: function (response) {
                alert(response);
            }

        });
    }

    function editAboutMe(id) {
        $('#aboutMeModal').modal('toggle');
        $("#modalTitle").text("Edit Introduction");

        var datas = $.grep(dataSource, function (e) {
            return e.id == id;
        });
        var source = "../Images/AboutMeImages/" + datas[0].image;
        $('#imageView').attr('src', source).width(80).height(80);
        checkImage = 2;
        $('#introductionId').val(datas[0].introduction);

        var functionName = "saveEditAboutMe(" + id + ")";
        $("#saveBtnId").attr("onclick", functionName);
    }

    function deleteAboutMe(id) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                $.ajax({
                    url: '/AboutMe/DeleteAboutMe',
                    type: 'delete',
                    data: { id: id },
                    success: function (response) {
                        if (response == "success") {
                            $.ajax({
                                type: 'get',
                                url: '/api/Profile/About_Me',
                                success: function (response) {
                                    dataSource = response;
                                    toastr.success("successfully deleted");
                                    $('#about_me').DataTable().ajax.reload();
                                }
                            });
                        }
                        else {
                            toastr.error("cannot delete the active one");
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }

                });
            }
        });
    }

    function UploadTempImage(input) {
        var files = $("#imageId").get(0).files;
        var image = new FormData();
        image.append('file', files[0]);
        var fileName = files[0].name;
        var extension = fileName.split('.').pop().toUpperCase();
        if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
            checkImage = 0;
            $('#imageError').text("Invalid image file format");
            return false;
        }
        else {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imageView').attr('src', e.target.result).width(80).height(80);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        extensionName.push(extension);

        $.ajax({
            url: '/AboutMe/InsertImage',
            type: 'post',
            contentType: false,
            processData: false,
            data: image,
            success: function (response) {
                if (response == "success") {
                    checkImage = 1;
                    $('#imageError').text("");
                }
            },
            error: function (response) {

            }

        });
    }

    function activeAboutMe(id) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                $.ajax({
                    type: 'put',
                    url: '/AboutMe/ActivateAboutMe',
                    data: { id: id },
                    success: function (response) {
                        if (response == "success") {
                            $.ajax({
                                type: 'get',
                                url: '/api/Profile/About_Me',
                                success: function (response) {
                                    dataSource = response;
                                    toastr.success("successfully activated");
                                    $('#about_me').DataTable().ajax.reload();
                                }
                            });
                        }
                    },
                    error: function (response) {
                    }
                });
            }
        });
    }

    function addAboutMe() {
        var functionName = "saveAboutMe()";
        $("#saveBtnId").attr("onclick", functionName);
        $("#modalTitle").text("Add Introduction");
        $('#aboutMeModal').modal('toggle');
    }

    function checkValues(introduction) {

        var checkIntroduction = 0;

        if (introduction == "") {
            checkIntroduction = 1;
            $("#introductionError").text("Required");
        }

        if (checkImage == 0) {
            $('#imageError').text("Required");
        }
        return true;
    }

    </script>

