
@{
    ViewBag.Title = "ClientInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--inline CSS-->
<style>
    textarea {
        resize: none;
    }

    #margin-top {
        margin-top: 10px;
    }
</style>

<!--on the case of Modal close-->
<script>
    $(document).ready(function () {
        $('#clientInfoModel').on('hidden.bs.modal', function () {
            $('#nameId').val("");
            $("#occupationId").val("");
            $("#emailId").val("");
            $("#phoneId").val("");
            $('#nameError').text("");
            $('#occupationError').text("");
            $("#emailError").val("");
            $("#phoneError").val("");
        });

        $("#nameId").on('input', function () {
            $('#nameError').text("");
        });

        $("#occupationId").on('input', function () {
            $('#occupationError').text("");
        });

        $("#emailId").on('input', function () {
            $('#emailError').text("");
        });

        $("#phoneId").on('input', function () {
            $('#phoneError').text("");
        });

    });
</script>

<button type="button" class="btn btn-info" onclick="addClientInfo();" style="margin-left:5px; ">Add</button>

<!-- Modal -->
<div class="modal fade" id="clientInfoModel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Add Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Name")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="nameId" class="form-control"></textarea>
                        <span class="text-danger" id="nameError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Occupation")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="occupationId" class="form-control"></textarea>
                        <span class="text-danger" id="occupationError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Email")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="emailId" class="form-control"></textarea>
                        <span class="text-danger" id="emailError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Phone")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="phoneId" class="form-control"></textarea>
                        <span class="text-danger" id="phoneError"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveBtnId" onclick="saveClientInfo();">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- Modal content-->

    </div>
</div>
<!--Modal-->

<div>
    <table id="client_info" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Occupation</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>


<script>
    var dataSource = [];

    jQuery(function ($) {
        $.ajax({
            type: 'get',
            url: '/api/Profile/Client_Info',
            success: function (response) {
                dataSource = response;
                $('#client_info').DataTable({
                    "ajax": {
                        "url": "/api/Profile/Client_Info",
                        "dataSrc": ""

                    },
                    "columns": [

                        { "data": "name" },
                        { "data": "occupation" },
                        { "data": "email" },
                        { "data": "phone" },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                                if (row.status == 0) {
                                    return '<button class="btn btn-success" onclick="activeClientInfo(' + row.id + ')">Activate</button>'
                                }
                                else {
                                    return '<b class="text-success">Active<b>';
                                }
                            }
                        },
                        {
                            "data": "null",
                            "render": function (data, type, row, meta) {
                                return '<button class="btn btn-primary" onclick="editClientInfo(' + row.id + ')">Edit</button><button class="btn btn-danger"onclick="deleteClientInfo(' + row.id + ')">Delete</button>'
                            }
                        }
                    ]
                });
            },
            error: function (response) {
            }
        });
    });

    function saveClientInfo() {
        var name = $('#nameId').val();
        var occupation = $('#occupationId').val();
        var email = $('#emailId').val();
        var phone = $('#phoneId').val();

        var result = checkValues(name,occupation,email,phone);
        if (result == "fail") {
            return false;
        }

        var values = {
            Name: name,
            Occupation: occupation,
            Email: email,
            Phone: phone,
        };

        $.ajax({
            url: '/ClientInfo/InsertClientInfo',
            type: 'post',
            data: { clientInfoModel: values },
            success: function (response) {
                if (response == "success") {
                    $.ajax({
                        type: 'get',
                        url: '/api/Profile/Client_Info',
                        success: function (response) {
                            dataSource = response;
                            toastr.success("successfully added");
                            $('#client_info').DataTable().ajax.reload();
                            $('#clientInfoModel').modal('toggle');
                        }
                    });
                }
                else {

                }
            },
            error: function (response) {

            }

        });
    }

    function saveEditClientInfo(id) {
        var datas = $.grep(dataSource, function (e) {
            return e.id == id;
        });

        var name = $('#nameId').val();
        var occupation = $('#occupationId').val();
        var email = $('#emailId').val();
        var phone = $('#phoneId').val();

        if (name == datas[0].name && occupation==datas[0].occupation && email==datas[0].email && phone==datas[0].phone) {
            $('#clientInfoModel').modal('toggle');
            return false;
        }

        var result = checkValues(name,occupation,email,phone);
        if (result == "fail") {
            return false;
        }

        var values = {
            Id: id,
            Name: name,
            Occupation: occupation,
            Email: email,
            Phone: phone,
        };
        $.ajax({
            type: 'put',
            url: '/ClientInfo/UpdateClientInfo',
            data: { clientInfoModel: values },
            success: function (response) {
                if (response == "success") {
                    $.ajax({
                        type: 'get',
                        url: '/api/Profile/Client_Info',
                        success: function (response) {
                            dataSource = response;
                            toastr.success("successfully updated");
                            $('#client_info').DataTable().ajax.reload();
                            $('#clientInfoModel').modal('toggle');
                        }
                    });
                }
            },
            error: function (response) {
                alert(response);
            }

        });
    }

    function editClientInfo(id) {
        $('#clientInfoModel').modal('toggle');
        $("#modalTitle").text("Edit Details");

        var datas = $.grep(dataSource, function (e) {
            return e.id == id;
        });

        $('#nameId').val(datas[0].name);
        $('#occupationId').val(datas[0].occupation);
        $('#emailId').val(datas[0].email);
        $('#phoneId').val(datas[0].phone);

        var functionName = "saveEditClientInfo(" + id + ")";
        $("#saveBtnId").attr("onclick", functionName);
    }

    function deleteClientInfo(id) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                $.ajax({
                    url: '/ClientInfo/DeleteClientInfo',
                    type: 'delete',
                    data: { id: id },
                    success: function (response) {
                        if (response == "success") {
                            $.ajax({
                                type: 'get',
                                url: '/api/Profile/Client_Info',
                                success: function (response) {
                                    dataSource = response;
                                    toastr.success("successfully deleted");
                                    $('#client_info').DataTable().ajax.reload();
                                }
                            });
                        }
                        else {
                            toastr.error("cannot delete the active one");
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }

                });
            }
        });
    }

    function activeClientInfo(id) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                $.ajax({
                    type: 'put',
                    url: '/ClientInfo/ActivateClientInfo',
                    data: { id: id },
                    success: function (response) {
                        if (response == "success") {
                            $.ajax({
                                type: 'get',
                                url: '/api/Profile/Client_Info',
                                success: function (response) {
                                    dataSource = response;
                                    toastr.success("successfully activated");
                                    $('#client_info').DataTable().ajax.reload();
                                }
                            });
                        }
                    },
                    error: function (response) {
                    }
                });
            }
        });
    }

    function addClientInfo() {
        var functionName = "saveClientInfo()";
        $("#saveBtnId").attr("onclick", functionName);
        $("#modalTitle").text("Add Details");
        $('#clientInfoModel').modal('toggle');
    }

    function checkValues(name, occupation, email, phone) {

        var checkName = 0;
        var checkOccupation = 0;
        var checkEmail = 0;
        var checkPhone = 0;

        if (name == "") {
            checkName = 1;
            $("#nameError").text("Required");
        }

        if (occupation == "") {
            checkOccupation = 1;
            $("#occupationError").text("Required");
        }

        if (email == "") {
            checkEmail = 1;
            $("#emailError").text("Required");
        }

        if (phone == "") {
            checkPhone = 1;
            $("#phoneError").text("Required");
        }

       
        return true;
    }

</script>

